<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <% messages.map((message) => { %>
        <div class="messageCard">
            <div class="date"><%= message.added %></div>
            <div class="user"><%= message.user %></div>
            <div class="text"><%= message.text %></div>
        </div>
    <% }) %>
    <div class="newMessageLink">
        <a href="/new">Submit New Message</a>
    </div>
</body>
</html>