<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="messageCard">
        <%= message.id %>
        <div class="date"><%= message.added %></div>
        <div class="user"><%= message.user %></div>
        <div class="text"><%= message.text %></div>
    </div>
    <a href="/">Go Back to Home</a>
</body>
</html>